<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <tr>
    <td><a href="/restaurants">Restaurant</td>
    <td><a href="/menus">Menu</a></td>
    </tr>
  </body>
</html>
