<!-- view/partials/navbar.ejs -->

<div>
        <nav>
            <h1>Live Coding 4</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menus">Menu</a></li>
                <li><a href="/restaurant">Restaurant</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </nav>
    </div>