<html>
  <head>
  </head>
  <body>
    <h2>Add Menu</h2>
    <form action="" method="post">
      <input type="text" value="" name="newName" placeholder="add name">
      <input type="text" value="" name="newMenuType" placeholder="add menu type">
      <input type="text" value="" name="newRating" placeholder="add rating">
      <input type="text" value="" name="newPrice" placeholder="add price">
      <input type="text" value="" name="newResId" placeholder="add restaurant id">
      <input type="submit">
    </form>
  </body>
</html>
