<html>
    <head>
        <title>WEBSITE</title>
    </head>
    <body>
        <br><%= err%><br>        
        <form method="POST">
            Name: <input type="text" name="name"><br>
            Menu Type: <input type="text" name="menu_type"><br>
            Rating: <input type="text" name="rating"><br>
            Price: <input type="text" name="price"><br>
            Restaurant:
            <select name="restaurantId">
                <option value="1">PHD</option>
                <option value="2">McDonald</option>
                <option value="3">KFC</option>
            </select><br>
            <input type="submit" value="Submit">
        </form>


        
    </body>
</html>