<!-- views/header.ejs -->

<nav>
    <div>
        <div>
            <a>
                <span></span>
                Final Live Code
            </a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/menus">Menus</a></li>
                <li><a href="/restaurants">Restaurants</a></li>
        </div>

    </div>
</nav>
