<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <a href="/menus">list menus</a>
    <a href="/restaurants">list restaurants</a>
  </body>
</html>
