<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <center>
        <h1>Page Menu</h1>
        <a href="menus"><button>Menus Page</button></a>
        <a href="restaurants"><button>Restaurant Page</button></a>
    </center>
</body>
</html>