<div id="topBanner">
  <div class="navigation">
    <a href="/">
      <button type="button" name="button">
        Home
      </button>
    </a>
    <a href="/menus">
      <button type="button" name="button">
        Menus
      </button>
    </a>
    <a href="/restaurants">
      <button type="button" name="button">
        Restaurant
      </button>
    </a>
    <a href="/page3">
      <button type="button" name="button">
        page3
      </button>
    </a>
  </div>
</div>
