<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
  
<div class="container">
  <h3><%= message %></h3>
  <p>Latihan Express</p>
</div>

</body>
</html>